:root {
    --interact: #b54ae4;
    --btn-text: #ffffff;
    --btn-color: #321a73;
    --answer--status: #707071;
    --hs-color: #b29cf0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1.5;
}
#highScores {
    color: var(--interact);
    transition: transform 0.1s;
}
#highScores:hover {
    cursor: pointer;
    text-decoration: underline;
}
#highScores:active {
    transform: scale(0.95);
}

#blank {
    height: 70px;
}

.container {
    text-align: center;
    margin-left: 19%;
    margin-right: 19%;
    line-height: 1.5;
}

.space {
    padding-bottom: 30px;
}

.btn {
    background-color: var(--btn-color);
    color: var(--btn-text);
    padding: 15px;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--interact);
    padding: 18px;
}
.btn:active {
    transform: scale(0.85);
}

.containerQ {
    margin-left: 24%;
    margin-right: 24%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.btnQ {
    background-color: var(--btn-color);
    color: var(--btn-text);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 80%;
    text-align: start;
    transition: transform 0.1s;
}
.btnQ:hover {
    cursor: pointer;
    background-color: var(--interact);
    color: var(--btn-text);
    padding: 11px;
}
.btnQ:active {
    transform: scale(0.97);
}

.spaceQ {
    padding-bottom: 10px;
}

.marginQ {
    margin-right: 60%;
}


.containerResults {
    margin-left: 24%;
    margin-right: 24%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#scoreResults {
    display: flex;
    margin-bottom: 10px;
}
.spaceResults {
    width: 10px;
}

#initials {
    display: flex;
    align-items: center;  
}
.spaceInitials {
    width: 20px;
}
input::placeholder {
    font-style: italic;  
    font-size: 90%;
}
input {
    width: 60%;
}
input::placeholder::after {
    font-style: var(--btn-text);
}

#btnInitials {
    background-color: var(--btn-color);
    color: var(--btn-text);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    font-size: 85%;
    text-align: start;
    transition: transform 0.1s;
}
#btnInitials:hover {
    cursor: pointer;
    background-color: var(--interact);
    color: var(--btn-text);
    padding: 11px;
    padding-left: 21px;
    padding-right: 21px;
}
#btnInitials:active {
    transform: scale(0.97);
}

.answerStatus {
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid var(--answer--status);
    color: var(--answer--status);
    font-style: italic;
    font-size: 1.5em;
}

.containerHS {
    margin-left: 24%;
    margin-right: 24%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.HSListElement {
    background-color: var(--hs-color);
    padding: 5px;
    margin-bottom: 10px;
}

.btnHS {
    background-color: var(--btn-color);
    color: var(--btn-text);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    font-size: 85%;
    text-align: start;
    transition: transform 0.1s;
}
.btnHS:hover {
    cursor: pointer;
    background-color: var(--interact);
    color: var(--btn-text);
    padding: 11px;
    padding-left: 21px;
    padding-right: 21px;
}
.btnHS:active {
    transform: scale(0.97);
}

.hide {
    display: none;
}

@media (max-width: 768px) {
    body {
        font-size: 20px;
    }
  }